<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="themes/css/mui.min.css" rel="stylesheet" />
		<link href="themes/css/app.css" rel="stylesheet" />
		<title>登录</title>
	</head>
	<body class="logbody log_wall">
		<div id="app">
			<h2>子恒国际</h2>
			<form class="logForm">
				<div class="log_cell">					
					<span>
						<i class="mui-icon mui-icon-personadd"></i>
						<input type="text" v-model="model.loginName" maxlength="11" placeholder="请输入用户名" />
					</span>
				</div>
				<div class="log_cell">					
					<span>
						<i class="mui-icon mui-icon-locked"></i>
						<input type="password" v-model="model.loginPwd" maxlength="16" placeholder="请输入密码" />
					</span>
				</div>
				<div class="log_cell">
					<button type="button" class="logBtn" @click="logins">登录</button>
				</div>
			</form>
		</div>
		<script src="themes/js/mui.min.js"></script>
		<script src="themes/js/vue.js"></script>
		<script src="themes/js/app.js"></script>
		<script type="text/javascript" charset="utf-8">
			mui.init();			
			mui.plusReady(function() {
				plus.navigator.closeSplashscreen();
				mui.back=function(){
					return;
				};
			});
			var vm = new Vue({
				el: "#app",
				data:{
					model:{
						loginName:'',
						loginPwd:'',
						isDevice:0,
						deviceName:'',
						token:''
					}
				},
				methods:{
					logins:function(){
						if(this.model.loginName==''){
							mui.toast('请输入用户名');return;
						}
						if(this.model.loginPwd==''){
							mui.toast('请输入密码');return;
						}
			            if(plus.os.name=="Android"){
			            	this.isDevice=1;
			            }
			            var info = plus.push.getClientInfo();
			            this.model.token=info.token;
			            this.model.deviceName=plus.device.vendor;
			            log(this.model);			            
						natiopen=plus.nativeUI.showWaiting("登录中，请等待...", {modal:true});
						baseAjax('app/api/user/login',this.model,function(res){
							natiopen.close();
							if(res.statusCode==200){
								SetSession('$LoginUser',res.data);		
								//调用主页方法
								var wsIndex=plus.webview.getLaunchWebview();
								mui.fire(wsIndex,'loginSuccess');
								//关闭登录页
								var ws=plus.webview.currentWebview();
								ws.close();
							}else{
								mui.toast(res.message);
							}
						});						
					}
				}
			});
		</script>
	</body>
</html>
