<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>会员管理</title>		
		<link href="../themes/css/mui.min.css" rel="stylesheet" />
		<link href="../themes/css/app.css" rel="stylesheet" />
	</head>
	<body class="mui-body">
		<div id="app">
			<div class="mem_search">
				<div class="mui-input-row">
					<form @submit.prevent="search">
						<input type="search" v-model="parm.key" placeholder="请输入号码或姓名搜索">
					</form>
				</div>
			</div>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell mui-media meblist" v-for="it in list" v-cloak @click="modify(it)">
					<a href="javascript:;">
						<div class="mui-media-body">
							姓名：{{it.trueName}}
							<p class='mui-ellipsis'>{{it.mobile}}</p>
						</div>
					</a>
				</li>
			</ul>
			<div class="no-data">{{loadfoot}}</div>
			<div class="fyt-add" @click="add"><i class="mui-icon mui-icon-plusempty"></i></div>
		</div>
		<script src="../themes/js/mui.min.js"></script>
		<script src="../themes/js/vue.js"></script>
		<script src="../themes/js/app.js"></script>
		<script>
			mui.init();						
			var vm = new Vue({
				el: "#app",
				data:{
					list:[],
					loadfoot:'',
					parm:{
						key:'',
						page:1,
						total:1
					}
				},
				methods:{
					add:function(){
						SetSession('$staffModel',null);
						goWin('staffadd','add.html','添加店员');
					},
					modify:function(m){
						SetSession('$staffModel',m);
						goWin('staffadd','add.html','编辑店员');
					},
					search:function(){
						this.parm.page=1;
						this.parm.total=1;
						os.init();
					}
				}
			});
			mui.plusReady(function() {	
				rightClose('staffindex');
				os.init();
				window.addEventListener('refresh',function(event){
				   os.init();
				})
				window.onscroll = function() {　　
					if(getScrollTop() + getWindowHeight() == getScrollHeight()) {
						if(vm.parm.page == vm.parm.total) {
							return;
						}　　　　
						vm.parm.page = vm.parm.page + 1;						
						os.init();　　
					}
				};
			});	
			var userModel = GetSession('$LoginUser'),os={
				init:function(){
					natiopen=plus.nativeUI.showWaiting("正在加载中...", {modal:true});
					vm.parm.guid=userModel.shopGuid;
					baseAjax('app/api/user/stafflist',vm.parm,function(res){
						natiopen.close();
						if(res.statusCode==200){
							vm.parm.total = res.count;
							if(vm.parm.page == 1) {
								vm.list = res.data;
								if(vm.parm.total==1 && res.data.length<6 || res.data==null){
									vm.loadfoot='';
								}else{
									vm.loadfoot='正在加载数据~';
								}								
							} else {	
								$.each(res.data, function (i,item) {
									vm.list.push(item);
								}); 
								if(vm.parm.page >= vm.parm.total) {
									vm.loadfoot='没有数据了~';
								}
							}
						}else{
							mui.toast(res.message);
						}
					})
				}
			}			
		</script>
	</body>
</html>
