<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>退货</title>
		<link href="../themes/css/mui.min.css" rel="stylesheet" />
		<link href="../themes/css/app.css" rel="stylesheet" />
	</head>
	<body class="mui-body">
		<div id="app">
			<div class="good-wall">
				<div class="good_code">
					<div id="bcTarget"><img src="../themes/img/code.png" /></div>
					<p>ASDF6645645-6645</p>
				</div>
				<div class="good-info">
					<div class="mui-input-row thforms">
						<label>退款金额</label>
						<input type="number" v-model="parm.BackMoney" class="mui-input-clear" maxlength="5" placeholder="请输入金额">
					</div>
					<div class="mui-input-row thforms">
						<label>退款订单号</label>
						<input type="text" v-model="parm.OrderNumber" class="mui-input-clear" maxlength="20" placeholder="请输入订单号">
					</div>
					<div class="mui-input-row thforms" style="margin: 10px 5px;">
						<textarea rows="4" v-model="parm.Summary" placeholder="请输入退货原因"></textarea>
					</div>
				</div>
				<div class="mui-numbox buy-num" data-numbox-min='1' data-numbox-max='100'>
					<button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
					<input id="goodnum" class="mui-input-numbox" type="number" value="1" />
					<button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
				</div>				
			</div>
			<div class="barcode-foot mui-clearfix">
				<button type="button" @click="submits" :disabled="disabled" class="mui-btn mui-btn-danger" style="width: 100%;">{{btnText}}</button>
			</div>
		</div>
		<script src="../themes/js/mui.min.js"></script>
		<script src="../themes/js/zepto.min.js"></script>
		<script src="../themes/js/vue.js"></script>
		<script src="../themes/js/app.js"></script>
		<script>
			var barJson=GetSession('$barcode'),userModel = GetSession('$LoginUser'),vm = new Vue({
				el: "#app",
				data: {
					parm:{
						OrderNumber:'',
						ShopGuid:'',
						AdminGuid:'',
						Summary:'',
						GoodsGuid:'',
						BackCount:0,
						BackMoney:0
					},
					disabled:false,
					btnText:'退货'
				},
				methods: {
					submits:function(){
						this.parm.BackCount=parseInt($("#goodnum").val());
						this.parm.ShopGuid=userModel.shopGuid;
						this.parm.AdminGuid=userModel.staffGuid;
						this.parm.GoodsGuid=barJson.code;
						if(this.parm.BackMoney==0){
							mui.toast('请输入退款金额!'); return;
						}
						if(this.parm.OrderNumber==''){
							mui.toast('请输入退款订单号!'); return;
						}
						if(this.parm.Summary==''){
							mui.toast('请输入退货原因!'); return;
						}
						this.disabled=true;
						this.btnText='正在提交...';
						var that=this;
						//log(this.parm);return;						
						baseAjax('app/api/back/add/goods',this.parm,function(res){
							if(res.statusCode==200){
								mui.toast('退货信息提交成功~');
								mui.back();
							}else{
								mui.toast(res.message);
							}
							that.disabled=false;
							that.btnText='退货';
						});
					}
				}
			});	
			mui.init({
				swipeBack:true
			});			
			//重写返回键
			mui.back=function(){
				var wsbar = plus.webview.getWebviewById('barcode');
				if(wsbar!=null){
					wsbar.close();
				}	
				var wsinput = plus.webview.getWebviewById('manualInput');
				if(wsinput!=null){
					wsinput.close();
				}
				var wc=plus.webview.currentWebview();
    			wc.close();
			}
		</script>
	</body>
</html>
