<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>盘点</title>
		<link href="../themes/css/mui.min.css" rel="stylesheet" />
		<link href="../themes/css/iconfont.css" rel="stylesheet" />
		<link href="../themes/css/swiper-4.3.3.min.css" rel="stylesheet" />
		<link href="../themes/css/app.css" rel="stylesheet" />
		<style>
			html,
			body,#app {
				position: relative;
				height: 100%;
			}
			
			html {
				overflow: hidden;
			}
		</style>
	</head>

	<body>
		<div id="app">
			<div id="top" class="fyt-cus-swiper">
				<div class="swiper-container" id="nav">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<span style="color: rgb(255, 80, 83)">今日盘点</span>
						</div>
						<div class="swiper-slide">
							<span>本月盘点</span>
						</div>							
						<div id="bar" class="bar">
							<div class="color"></div>
						</div>
					</div>					
				</div>
				<div class="fyt-slide" @click="wheres"><span id="where">筛选 <i class="iconfont icon-iconfontzhizuobiaozhun023125"></i></span></div>
			</div>
			<div class="swiper-container" id="page">
				<div class="swiper-wrapper">
					<div class="swiper-slide slidepage">
						<ul class="mui-table-view inv-item">
							<li class="mui-table-view-cell mui-media" v-for="it in resA.list" v-cloak>
								<a href="javascript:;">
									<div class="mui-media-object mui-pull-right">
										<span class="fh_status pd_bar"><tt :style="'width:'+(it.sale/it.stock*100)+'%'"></tt></span>
										<p class="red">{{it.sale}}/{{it.stock}}</p>
									</div>
									<div class="mui-media-body">
										{{it.brand+it.style}}
										<p class='mui-ellipsis'>{{it.code}}</p>
									</div>
								</a>
							</li>	
						</ul>
						<div class="no-data" @click="more">{{resA.foot}}</div>
					</div>
					<div class="swiper-slide slidepage">
						<ul class="mui-table-view inv-item">
							<li class="mui-table-view-cell mui-media" v-for="it in resB.list" v-cloak>
								<a href="javascript:;">
									<div class="mui-media-object mui-pull-right">
										<span class="fh_status pd_bar"><tt :style="'width:'+(it.sale/it.stock*100)+'%'"></tt></span>
										<p class="red">{{it.sale}}/{{it.stock}}</p>
									</div>
									<div class="mui-media-body">
										{{it.brand+it.style}}
										<p class='mui-ellipsis'>{{it.code}}</p>
									</div>
								</a>
							</li>	
						</ul>
						<div class="no-data" @click="more">{{resB.foot}}</div>
					</div>
				</div>
			</div>
			
			<div class="page-cover" @click="closeWhere"></div>
			<div class="fyt-chwall">
				<div class="mui-scroll">
					<h5 class="sel_time"><i class="iconfont icon-riqi"></i><span @click="openDate(1)">{{whereParm.btime}}</span></h5>
					<h5 class="sel_time"><i class="iconfont icon-riqi"></i><span @click="openDate(2)">{{whereParm.etime}}</span></h5>
					<div class="cs-wall mui-clearfix">
					</div>
					<h5>品牌<span></span></h5>
					<div class="cd-wall">
						<span v-for="it in whereParm.list" v-cloak @click="selBrank(it)" :class="{cur:brankCur==it.guid}">{{it.name}}</span>
					</div>
				</div>
				<div class="fyt-foot-button mui-clearfix">
					<span class="cz" @click="resetWhere">重置</span><span class="success" @click="findWhere">确定</span>
				</div>
			</div>
			
		</div>		
		<script src="../themes/js/mui.min.js"></script>
		<script src="../themes/js/swiper-4.3.3.min.js"></script>
		<script src="../themes/js/zepto.min.js"></script>
		<script src="../themes/js/vue.js"></script>
		<script src="../themes/js/app.js"></script>
		<script>
			mui.init();
			var userModel = GetSession('$LoginUser'),vm = new Vue({
				el: "#app",
				data: {
					resA:{
						list:[],
						page:1,
						total:1,
						foot:'点击加载更多~'
					}, 
					resB:{
						list:[],
						page:1,
						total:1,
						foot:'点击加载更多~'
					},
					whereParm:{
						btime:'请选择开始时间',
						etime:'请选择结束时间',
						list:[]
					},
					parm:{
						page:1,
						limit:30,
						guid:'',
						btime:'',
						etime:'',
						types:1,
						brand:''
					},
					brankCur:''
				},
				created:function(){
					this.parm.guid=userModel.shopGuid;
					var that=this;
					baseAjax('/app/api/index/brank',null,function(res){
						if(res.statusCode==200){
							that.whereParm.list=res.data;
						}else{
							mui.toast('无品牌');
						}
					});
				},
				methods: {
					more:function(){
						var that=this;
						if(curIndex==0){
							if(that.resA.total>that.resA.page){								
								that.parm.page=that.resA.page+1;
								that.resA.page=that.resA.page+1;
								os.init();
							}
						}
						if(curIndex==1){
							if(that.resB.total>that.resB.page){								
								that.parm.page=that.resB.page+1;
								that.resB.page=that.resB.page+1;
								os.init();
							}
						}				
						
					},
					findWhere:function(){
						//确定查询
						os.closeWhere();
						if(curIndex==0){
							this.resA.page=1;
						}
						if(curIndex==1){
							this.resB.page=1;
						}
						os.init();
					},
					wheres:function(){						
						os.openWhere();
					},
					openDate:function(m){
						os.pickDate(m);
					},
					closeWhere:function(){
						os.closeWhere();
					},
					resetWhere:function(){
						this.whereParm.btime='请选择开始时间';
						this.whereParm.etime='请选择结束时间';
						this.parm.btime='';
						this.parm.etime='';
						this.parm.brand='';
					},
					selBrank:function(m){
						this.brankCur=m.guid;
						this.parm.brand=m.guid;
					}
				}
			});
			mui.plusReady(function() {	
				rightClose('inventory');
				os.init();
			});		
			var os={
				brec:function(){
					return 'width:25%';
				},
				init:function(){
					app.loading();
					if(curIndex==0){vm.parm.types=1;}
					if(curIndex==1){vm.parm.types=2;}
					if(vm.parm.btime!='' && vm.parm.etime!=''){vm.parm.types=3;}
					log(vm.parm);
					baseAjax('app/api/stock/inventory',vm.parm,function(res){
						app.loadClose();
						if(res.statusCode==200){
							if(curIndex==0){								
								vm.resA.total = res.count;
								if(vm.resA.page == 1) {		
									/* if(res.data){
										$.each(res.data, function (i,item) {
											item.stock=item.stock-item.returnSum-item.sale;
										}); 
									} */
									vm.resA.list=res.data;
									if(vm.resA.total==1 && res.data.length<6 || res.data.length==0 || vm.resA.total==1){
										vm.resA.foot='';
									}else{
										vm.resA.foot='点击加载更多~';
									}								
								} else {	
									$.each(res.data, function (i,item) {
										vm.resA.list.push(item);
									}); 
									if(vm.resA.page >= vm.resA.total) {
										vm.resA.foot='没有数据了~';
									}
								}
							}
							if(curIndex==1){								
								vm.resB.total = res.count;
								if(vm.resB.page == 1) {		
									/* if(res.data){
										$.each(res.data, function (i,item) {
											item.stock=item.stock-item.returnSum-item.sale;
										}); 
									} */
									vm.resB.list=res.data;
									if(vm.resB.total==1 && res.data.length<6 || res.data.length==0 || vm.resA.total==1){
										vm.resB.foot='';
									}else{
										vm.resB.foot='点击加载更多~';
									}								
								} else {	
									$.each(res.data, function (i,item) {
										vm.resB.list.push(item);
									}); 
									if(vm.resB.page >= vm.resB.total) {
										vm.resB.foot='没有数据了~';
									}
								}
							}							
						}else{
							mui.toast(res.msg);
						}
					})
				},
				closeWhere:function(){
					$('.page-cover,.fyt-chwall').hide(600);
					var activeSlidePosition = navSwiper.slides[curIndex].offsetLeft;
					bar.transform('translateX(' + activeSlidePosition + 'px)');
					mui("#nav .swiper-slide span").each(function () {	
						this.style.color='rgba(51,51,51,1)';
					});
					document.getElementById('where').style.color='rgba(51,51,51,1)';
					$("#nav .swiper-slide").eq(curIndex).find('span').css('color','rgba(255,80,83,1)');
				},
				openWhere:function(){
					var winw=document.body.clientWidth;
					winw=winw-winw/3-5;
					document.getElementById('bar').style.transform ='translateX('+winw+'px)';
					mui("#nav .swiper-slide span").each(function () {	
						this.style.color='rgba(51,51,51,1)';
					});
					document.getElementById('where').style.color='rgba(255,80,83,1)';
					$('.page-cover,.fyt-chwall').show(600);
				},
				pickDate:function(objs){
					var dDate = new Date();
					var minDate = new Date();
					minDate.setFullYear(2010, 0, 1);
					var maxDate = new Date();
					maxDate.setFullYear(2050, 12, 31);
					plus.nativeUI.pickDate(function(e) {
						var d = e.date;
						if(objs==1){
							vm.whereParm.btime=d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate();
							vm.parm.btime=vm.whereParm.btime;
						}
						if(objs==2){
							vm.whereParm.etime=d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate();
							vm.parm.etime=vm.whereParm.etime;
						}
					}, function(e) {
					}, {
						title: "",
						date: dDate,
						minDate: minDate,
						maxDate: maxDate
					});
				}
			}
			
			barwidth = 60 //导航粉色条的长度px
			tSpeed = 300 //切换速度300ms
			var curIndex=0,navSwiper = new Swiper('#nav', {
				slidesPerView: 3,
				freeMode: true,
				on: {
					init: function() {
						navSlideWidth = this.slides.eq(0).css('width'); //导航字数需要统一,每个导航宽度一致
						bar = this.$el.find('.bar')
						bar.css('width', navSlideWidth)
						bar.transition(tSpeed)
						navSum = this.slides[this.slides.length - 1].offsetLeft //最后一个slide的位置

						clientWidth = parseInt(this.$wrapperEl.css('width')) //Nav的可视宽度
						navWidth = 0
						for(i = 0; i < this.slides.length; i++) {
							navWidth += parseInt(this.slides.eq(i).css('width'))
						}

						topBar = this.$el.parents('body').find('#top') //页头

					},

				},
			});
			var pageSwiper = new Swiper('#page', {
				watchSlidesProgress: true,
				resistanceRatio: 0,
				on: {
					touchMove: function() {
						progress = this.progress
						bar.transition(0)
						bar.transform('translateX(' + navSum * progress + 'px)')
						//粉色255,72,145灰色51,51,51
						for(i = 0; i < this.slides.length; i++) {
							slideProgress = this.slides[i].progress
							if(Math.abs(slideProgress) < 1) {
								r = Math.floor((255 - 51) * (1 - Math.pow(Math.abs(slideProgress), 2)) + 51)
								g = Math.floor((80 - 51) * (1 - Math.pow(Math.abs(slideProgress), 2)) + 51)
								b = Math.floor((83 - 51) * (1 - Math.pow(Math.abs(slideProgress), 2)) + 51)
								navSwiper.slides.eq(i).find('span').css('color', 'rgba(' + r + ',' + g + ',' + b + ',1)')
							}
						}
					},
					transitionStart: function() {
						document.getElementById('where').style.color='rgba(51,51,51,1)';
						curIndex = this.activeIndex;
						if(curIndex==1){
							if(vm.resB.list.length==0){os.init();}
						}
						activeSlidePosition = navSwiper.slides[curIndex].offsetLeft
						//释放时导航粉色条移动过渡
						bar.transition(tSpeed)
						bar.transform('translateX(' + activeSlidePosition + 'px)')
						//释放时文字变色过渡
						navSwiper.slides.eq(curIndex).find('span').transition(tSpeed)
						navSwiper.slides.eq(curIndex).find('span').css('color', 'rgba(255,80,83,1)')
						if(curIndex > 0) {
							navSwiper.slides.eq(curIndex - 1).find('span').transition(tSpeed)
							navSwiper.slides.eq(curIndex - 1).find('span').css('color', 'rgba(51,51,51,1)')
						}
						if(curIndex < this.slides.length) {
							navSwiper.slides.eq(curIndex + 1).find('span').transition(tSpeed)
							navSwiper.slides.eq(curIndex + 1).find('span').css('color', 'rgba(51,51,51,1)')
						}
						

					},
				}
			});

			navSwiper.$el.on('touchstart', function(e) {
				e.preventDefault() //去掉按压阴影
			})
			navSwiper.on('tap', function(e) {
				curIndex = this.clickedIndex;
				clickSlide = this.slides.eq(curIndex);
				pageSwiper.slideTo(curIndex, 0);
				this.slides.find('span').css('color', 'rgba(51,51,51,1)');
				clickSlide.find('span').css('color', 'rgba(255,80,83,1)');		
				document.getElementById('where').style.color='rgba(51,51,51,1)';
				var activeSlidePosition = navSwiper.slides[curIndex].offsetLeft;
				bar.transform('translateX(' + activeSlidePosition + 'px)');
				os.closeWhere();
			})
		</script>
	</body>

</html>