<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>会员管理</title>
		<link href="../themes/css/mui.min.css" rel="stylesheet" />
		<link href="../themes/css/mui.picker.min.css" rel="stylesheet" />
		<link href="../themes/css/app.css" rel="stylesheet" />
	</head>

	<body class="mui-body">
		<div id="app">
			<ul class="editpwd">
				<li>
					<p>手机号码</p>
					<input type="number" v-model="model.mobile" placeholder="请输入手机号码" />
				</li>
				<li>
					<p>姓名</p>
					<input type="text" v-model="model.userName" placeholder="请输入姓名" />
				</li>
				<li>
					<p>性别</p>
					<input type="text" id="sex" v-model="model.sex" placeholder="请选择性别" />
				</li>
				<li>
					<p>生日</p>
					<input type="text" id="birthday" v-model="model.birthday" placeholder="请选择生日" data-options='{"type":"date","beginYear":1900,"endYear":2018}' />
				</li>
				<li>
					<p>积分值</p>
					<input type="text" readonly="readonly" v-model="model.points" placeholder="" />
				</li>
			</ul>
			<div class="logout">
				<button type="button" class="mui-btn mui-btn-danger mui-btn-block" @click="submit">提交</button>
			</div>
		</div>
		<script src="../themes/js/mui.min.js"></script>
		<script src="../themes/js/mui.picker.min.js"></script>
		<script src="../themes/js/vue.js"></script>
		<script src="../themes/js/app.js"></script>
		<script>
			mui.init();
			var userModel = GetSession('$LoginUser'),vm = new Vue({
				el: "#app",
				data: {
					model:{}
				},
				created: function () {
					var model=GetSession('$memberModel');
					if(model==null){
						this.model.ShopGuid=userModel.shopGuid;
						this.model.LoginPwd='123456';
						return;
					}					
					this.model=model;
				},
				methods: {
					submit:function(){
						if(!this.model.userName){
							mui.toast('请输入姓名！');return;
						}
						if(!this.model.sex){
							mui.toast('请选择性别！');return;
						}
						if(!this.model.mobile){
							mui.toast('请输入手机号码！');return;
						}
						var urls='app/api/user/useredit',model=GetSession('$memberModel');
						if(model==null){urls='app/api/user/useradd';}
						baseAjax(urls,this.model,function(res){
							if(res.statusCode==200){
								//释放缓存
								SessionRemove('$memberModel');
								mui.toast('修改成功');
								//调用会员主页方法
								var wsIndex=plus.webview.getWebviewById('memindex');
								mui.fire(wsIndex,'refresh');
								//关闭当前页
								var ws=plus.webview.currentWebview();
								ws.close();
							}else{
								mui.toast(res.message);
							}
						})
					}
				}
			});
			(function($, doc) {
				$.init();
				$.ready(function() {
					//普通示例
					var userPicker = new $.PopPicker();
					userPicker.setData([{
						value: '男',
						text: '男'
					}, {
						value: '女',
						text: '女'
					}]);
					var showUserPickerButton = doc.getElementById('sex');
					var userResult = doc.getElementById('sex');
					showUserPickerButton.addEventListener('tap', function(event) {
						userPicker.show(function(items) {
							userResult.value = items[0].value;
							vm.model.sex=items[0].value;
						});
					}, false);
				});
				doc.getElementById('birthday').addEventListener('tap', function() {
					var optionsJson = this.getAttribute('data-options') || '{}';
					var options = JSON.parse(optionsJson);
					var picker = new $.DtPicker(options);
					picker.show(function(rs) {
						doc.getElementById('birthday').value=rs.text;
						vm.model.birthday=rs.text;
						picker.dispose();
					});
				}, false);
			})(mui, document);
		</script>
	</body>

</html>